@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

body {
  background: url("stacy-marie-mLx1dc-AJ5k-unsplash.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.forecast {
  margin: 0 20px;
  font-family: "Kosugi Maru", sans-serif;
}
