.searchForm {
  width: 250px;
  height: 40px;
  padding: 3px;
  background-color: #4f5053;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
}

.searchInput {
  height: 30px;
  width: 165px;
  border-radius: 5px;
  margin: 2px 2.5px 5px 5px;
  color: #42454e;
  background-color: #fff;
}

.searchButton {
  height: 35px;
  width: 70px;
  border-radius: 5px;
  margin: 2px 5px 5px 2.5px;
  color: white;
  background-color: #1bba9a;
}
